.navbar {
    padding: 2.5rem;
}

.navbar-brand {
    font-size: 2rem;
}

.collapse {
    padding-top: 2rem;
    padding-right: 5rem;
}

.dropdown-toggle::after {
    display: none;
}

#profileContent {
    position: relative;
    height: max-content;
    /* background-color: aqua; */
}

#cover {
    height: 14rem;
    background-color: #12538c;
}

.profileImage {
    width: 300px;
    height: 300px;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
    top: 4rem;
    left: 4rem;
}

#headerName {
    display: flex;
    color: white;
    padding-top: 10rem;
    padding-left: 25rem;
    font-size: 2.5rem;
}

/* #profileContent{
    padding: 2rem;
} */

#additionalDetails {
    display: flex;
    padding-left: 24.5rem;
}

#additionalDetails>div {
    padding: 0.5rem;
}

.headingResume {
    margin-top: 7rem;
    margin-left: 12rem;
}

.headingResume1 {
    margin-top: 3rem;
    margin-left: 12rem;
}

.institutionDetails {
    margin-top: 1rem;
    margin-left: 3rem;
}

.editPencil {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
}

svg {
    width: 1.2rem;
    height: 1.2rem;
}

.headflex {
    display: flex;
    justify-content: flex-start;
}

.share {
    margin-top: -6px;
    margin-left: 0.7rem;
}

#certificateCollection {
    display: flex;
    flex-wrap: wrap;
    margin-left: 3rem;
}

.certificate>img {
    width: 425px;
    height: 330px;
    padding: 1rem;
}

#addButton {
    display: flex;
    width: 393px;
    height: 298px;
    margin: 1rem;
    padding: 0;
    background-color: rgb(223, 217, 217);
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

#addButton>img {
    height: 5rem;
    width: 5rem;
    position: absolute;
    overflow: hidden;
    border-radius: 50%;
}

.notificationOption {
    display: flex;
}

#selectedOption {
    background-color: rgb(15, 175, 175);
}

#foot {
    height: 14rem;
    background-color: #212529;
}

.notificationImage {
    width: 3rem;
    height: 3rem;
    overflow: hidden;
    border-radius: 50%;
    background-image: url(../assets/viper-avatar.jpg);
    background-size: contain;
    margin-right: 1rem;
}

.notificationText {
    word-wrap: break-word;
    width: 19rem;
    font-size: 1rem;
}

.share a:hover, .share a {
    color: white;
}

.headingProfile {
    padding: 1.5rem;
    background-image: url('/assets/bg.jpeg');
    color: white;
    height: 34rem;
}

.carousel {
    display: flex;
    flex-direction: row;
    margin: 3rem;
    justify-content: center;
    align-items: center;
}

.carousel svg{
    color: white;
}

.carousel-item {
    position: relative;
    width: 500px;
    height: 300px;
    overflow: hidden;
    display: flex;
    box-shadow: 0 0 6px 3px rgba(0, 0, 0, 0.5) ;
    background-color: #212529;
    margin-right: 2rem;
    border-radius: 0.5rem;

}
.carousel-item:hover{
    width: 600px;
    height: 360px;
    transition: 0.3s;
}

.carousel-image {
    flex: 6;
    
}

.carousel-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.employmentDetails {
    margin: 1rem;
    flex: 7;
}

.threedot {
    display: flex;
    justify-content: space-between;
}

.applyNow{
    height: 3rem;
    width: 6rem;
    background-color: blue;
    color: white;
    text-align: center;
    padding-top: 0.6rem;
    border-radius: 0.5rem;
    margin-left: 9rem;
    cursor: pointer;
}

/* .hellobro{
    box-shadow: 0 0 6px 3px rgba(234, 70, 47,0.5) ;
} */